<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title> Login Form </title>
        <%= stylesheet_link_tag "style.css" %>
    </head>
    <body class="login-main">
       
<% if flash[:error] %>
    <p><%= flash[:error] %></p>
<% end %>

<div class="login-box">
<h1> Login </h1>

<%= form_for :session, url: login_path do |f| %>
<%= f.text_field :username, placeholder: "Username", class:"textfield" %><br>
<%= f.password_field :password, placeholder: "Password", class:"textfield" %>
<%= f.submit "Login", class:"login-button" %>
<% end %>

</div>

</body>
</html>