<h1> Create a New Group </h1>
<%#This form allows for the creation of a new group%>
<%# we do not currently allow groups to be edited %>
<%= form_for @group do |f| %>
<%=f.label :name %>
<%= f.text_field :name %><br><br>
<%= f.label :description %>
<%= f.text_area :description %><br><br>
<%= f.submit %>
<% end %>