
    <body class="create-account">
<%#shows errors if account doesn't meet validations%>
<%#we have some front end and back end validators%>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p style="color: red"><%= error %></p>
  <% end %>
<% end %>

<div class="create-account-box">
<h1> Create Account </h1>

<%= form_for @user do |f| %>
 <%= f.text_field :first_name, placeholder: "First Name", class:"textfield1" %><br>
  
 <%= f.text_field :last_name, placeholder: "Last Name", class:"textfield1" %><br>
 
 <%= f.date_field :birthday, placeholder: "Birthday", class:"textfield1" %><br>

 <%= f.text_field :username, placeholder: "Username", class:"textfield1" %><br>

 <%= f.password_field :password, placeholder: "Password", class:"textfield1" %><br>

  <%= f.file_field :image, class:"textfield1" %><br>

  <br>
 
  <%= f.collection_select :cohort_id, @cohorts, :id, :code, prompt: "Select Cohort", class:"dropdown" %>
  </h5><br>
  <%= f.submit "Sign Up", class:"signup-button" %>

<% end %><br>
</div>

</body>