


<body>
<%#shows welcome message when user signs in%>
<% if flash[:success] %>
<h3 class="flash-message"><%= flash[:success] %></h3
<% end %>
<%#shows profile if the user isn't deleted%>
<% if @user != User.find_by(username: "deleted_user")%>
<div class="container">
    <div class="profile-header">
        <div class="profile-nav-info">
            <div class="profile-img">
                <% if @user.image.attached? %>
                    <%= image_tag url_for(@user.image) %>
                <% end %>
            </div>
            <div class="main-name">
            <h3 class="name-profile"> <%= @user.full_name %>'s Profile
            </h3>
            <p class="user-name"> <%= @user.username %>
            </p>
            </div>
        </div>
        <div class="profile-option">
            <div class="notification">
            <i class="fa fa-bell"></i>
            <span class="alert-message">1</span>
         </div>
    </div>
</div>
    <div class="main-bd">
        <div class="left-side">
            <div class="profile-side">
                <p class="birthday"><i class="fas fa-birthday-cake"></i><%= @user.birthday.strftime("%B %d, %Y")  %></p>
                <div class="profile-btn">
                    <button class="chatbtn">
                        <i class="fa fa-comment"></i> Chat
                    </button>
                    <button class="create-post-btn">
                        <i class="fa fa-plus"></i>
                    <% if @user.id == @signed_in_user.id %>
                    <%#if user is signed in they can create a post on their profile%>
                    <%= link_to "Create Post", new_post_path, {method: :get} %>
                    <% end %>
                    </button>
                    <button class="delete-post-btn">
                        <i class="fas fa-minus-square"></i>
                    <% if @user.id == @signed_in_user.id %>
                    <%#signed in user can also delete their own account%>
                    <%= link_to "Delete Account", user_path(@user), {method: :delete, data: {confirm: true}} %>
                    <% end %>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="profile-nav-bar">
                <div class="tab">
                 <input type="radio" id="tab-1" name="tab-group-1" checked>

                 <label for="tab-1">Groups Memberships</label>

                    <div class="content">
                              <% @user.groups.each do |group| %>    
                                    <h3 class="groups"> <%= link_to "#{group.name}", group_path(group) %></h3>
                                    <% end %>
                    </div> 
                </div>

                <div class="tab">
                    <input type="radio" id="tab-2" name="tab-group-1">
                    <label for="tab-2">Profile Posts</label>
         
                    <div class="content">
                    <%#shows profile posts based on most recently posted%>
                        <div>
                            <ul>
                                <% @user.profile_posts.reverse.each do |post| %>
                                <li class="user-posts"><h3 class="profile-post-title"> <%= link_to post.title, post_path(post) %> </h3>
                                    <% if post.content %>
                                    <p> <%= post.content[0...25] %>... </p>
                                    <% end %>
                                    <p class="profile-page-comments"> <%= link_to "Comments: #{post.comments.count}", post_path(post) %> </p>
                                    <% end %>
                                </li>
                            </ul>
                        </div>
                     </div> 
                 </div>
            </div>
        </div>
   </div>
   <% else %>
   <%#if the user has been deleted, their profile shows this message%>
   <h3 class="name-profile"> This User has been Deleted </h3>
   <% end %>



</body>