<%= button_to "Log out", logout_path, {method: :delete} %>
<h1> <%= @user.full_name %>'s Profile </h1> 

<% if flash[:success] %>
<p><%= flash[:success] %></p>
<% end %>

<h3>My Groups: </h3>
<ul>
<% @user.groups.each do |group| %>
    <li><%= link_to "#{group.name}", group_path(group) %></li>
<% end %>
</ul>

<h3> Profile Posts </h3>
<% @user.profile_posts.each do |post| %>
<h3> <%= link_to post.title, post_path(post) %> </h3>
<p> <%= post.content %> </p>
<p> Comments: <%= post.comments.count %>
<% end %>

<%= button_to "Create Post", new_post_path, {method: :get} %>
<%= button_to "View Groups", groups_path, {method: :get} %>
<%= button_to "Delete", user_path(@user), {method: :delete, data: {confirm: true}} %>
