
<div class="flash">
<% if flash[:success] %>
<p><%= flash[:success] %></p>
<% end %>
</div>
<% if @user.id == @signed_in_user.id %>
<div class="button"> <%= button_to "Delete Account", user_path(@user), {method: :delete, data: {confirm: true}} %></div>
<% end %>
<h2> <%= @user.full_name %>'s Profile </h2> 


<section>
<aside>
<h3>My Groups: </h3>
<div class="box">
<ul>
<% @user.groups.each do |group| %>
    <li><%= link_to "#{group.name}", group_path(group) %></li>
<% end %>
</ul>
</aside>

<div class="posts">
<h3> Profile Posts </h3>
<div class="button1">
<% if @user.id == @signed_in_user.id %>
<%= button_to "Create Post", new_post_path, {method: :get} %>
<% end %>
</div>
<div class="box">
<% @user.profile_posts.reverse.each do |post| %>
<div class="post">
<h3> <%= link_to post.title, post_path(post) %> </h3>
<p> <%= post.content %> </p>
<p> <%= link_to "Comments: #{post.comments.count}", post_path(post) %>
</div>
<% end %>
</div>
</section>


