


<body>
<%#shows welcome message when user signs in%>
<% if flash[:success] %>
<div class="flash-message"><%= flash[:success] %></div>
<% end %>
<%#shows profile if the user isn't deleted%>
<% if @user != User.find_by(username: "deleted_user")%>
<div class="container">
    <div class="profile-header">
        <div class="profile-nav-info">
            <h3 class="name-profile"> <%= @user.full_name %>'s Profile
            </h3>
            <% if @user.image.attached? %>
            <p> <%= image_tag url_for(@user.image), size: '150x150' %></p> 
            <% end %>
            <p class="user-name"> <%= @user.username %>
            </p>
        </div>
        <div class="profile-option">
        <% if @user.id == @signed_in_user.id %>
            <div class="notification">
            <i class="fa fa-bell"></i>
            <span class="alert-message"> <%= link_to @user.notifications.unread.count, notifications_path %></span>
         </div>
         <% end %>
    </div>
</div>
    <div class="main-bd">
        <div class="left-side">
            <div class="profile-side">
                <p class="birthday"><i class="fas fa-birthday-cake"></i><%= @user.birthday.strftime("%B %d, %Y")  %></p>
                <div class="profile-btn">
                <% if @user.id == @signed_in_user.id %>
                    <button class="chatbtn">
                        <i class="fa fa-comment"></i> Chat
                        <%= link_to "Chats", user_chat_path, {method: :get} %>
                    </button>
                <% else %>
                <button class="chatbtn">
                        <i class="fa fa-comment"></i> Chat
                        <% flash[:user] = @user.id %>
                        <%= link_to "Create Chat", new_chat_path, {method: :get} %>
                    </button>
                <% end %>
                    <button class="create-post-btn">
                        <i class="fa fa-plus"></i>
                    <% if @user.id == @signed_in_user.id %>
                    <%#if user is signed in they can create a post on their profile%>
                    <%= link_to "Create Post", new_post_path, {method: :get} %>
                    <% end %>
                    </button>
                    <button class="delete-post-btn">
                        <i class="fas fa-minus-square"></i>
                    <% if @user.id == @signed_in_user.id %>
                    <%#signed in user can also delete their own account%>
                    <%= link_to "Delete Account", user_path(@user), {method: :delete, data: {confirm: true}} %>
                    <% end %>
                    </button>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="profile-nav-bar">
                <div class="tab">
                 <input type="radio" id="tab-1" name="tab-group-1" checked>

                 <label for="tab-1">Groups Memberships</label>

                    <div class="content">
                              <% @user.groups.each do |group| %>    
                                    <h3 class="groups"> <%= link_to "#{group.name}", group_path(group) %></h3>
                                    <% end %>
                    </div> 
                </div>

                <div class="tab">
                    <input type="radio" id="tab-2" name="tab-group-1">
                    <label for="tab-2">Profile Posts</label>
         
                    <div class="content">
                    <%#shows profile posts based on most recently posted%>
                            <% @user.profile_posts.reverse.each do |post| %>
       
                             <p> <%= link_to "Comments: #{post.comments.count}", post_path(post) %> </p>
                           

                            <h3 class="profile-post-title"> <%= link_to post.title, post_path(post) %> </h3>
                            <p> <%= post.content[0...25] %>... </p>
                             <% end %>
                     </div> 
                 </div>
            </div>
        </div>
   </div>
   <% else %>
   <%#if the user has been deleted, their profile shows this message%>
   <h3 class="name-profile"> This User has been Deleted </h3>
   <% end %>



</body>