<div class="new-post-box">  
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p class="error"> <%= error %> </p>
<% end %>
<% end %>
    <h1> Start a New Chat! </h1>
<%= form_for @chat do |f| %>
<%= f.text_field :name, placeholder: "Chat Name", class:"textfield2" %><br><br>
<%= f.submit "Create Chat", class:"submit-button" %>
<% end %>
<div class="return-button">
 <%= button_to "Return to Chats", user_chat_path(@signed_in_user), {method: :get} %>
</div>

</div>