<% if Chatmember.find_by(chat_id: @chat.id, user_id: @signed_in_user.id) %>
    <div class="post-container">
        <h2 class="my-post-title"> <%= @chat.name %>
            <h3 class="chat-members-message"> Chat Members(Click to Remove): </h3>
            <p id="post-author"> <% @chat.users.each do |user| %>
                <%= link_to user.username, chatmember_path(Chatmember.find_by(chat_id: @chat.id, user_id: user.id)), {method: :delete, data: {confirm: true}} %>
            <% end %></p></h2>
            <button class="add-comment"> 
                <i class="fas fa-plus"></i>
                <%= link_to "Add User", new_chatmember_path, {method: :get} %>
            </button>
            <button class="add-comment">
                <i class="fas fa-plus"></i>
                <%= link_to "New Message", new_message_path, {method: :get} %>
            </button>
        
        <% @chat.messages.reverse.each do |message| %>
            <div class="ind-chat-message">
            <p class="message-username"> <%= link_to message.user.username, user_path(message.user.id) %> says: </p>
            <p class="message-content"> <%= message.content %> <p>
            
            <% if message.user_id == @signed_in_user.id%>
                <div class="comment-buttons">
                <button>
                    <i class="fas fa-edit"></i>
                    <%= link_to "Edit Message", edit_message_path(message), {method: :get}%>
                </button>
                <button>
                    <i class="far fa-trash-alt"></i>
                    <%= link_to "Delete Message", message_path(message), {method: :delete} %>
                </button>
                
            <% end %>
        <% end %>
        </div>
    </div>

<%= button_to "Return to Chats", user_chat_path(@signed_in_user), {method: :get} %>
<% else %>
    <p>You must be invited to this chat to view it.</p>
<% end %>

