<body class="create-account">
<div class="new-post-box">
    <h1> Edit Post </h1>
    <%= form_for @post do |f| %>
    <%= f.text_field :title, placeholder: "Title", class:"textfield2" %><br><br>
    <%= f.text_area :content, placeholder: "Write Your Post", class:"textarea1"%><br><br>
    <%= f.submit "Update Post", class:"submit-button" %>
    <% end %>
    <%#button allows you to return to the post if you decide not to make changes%>
    <div class="back-btn"><%= button_to "Go back to Post", post_path(flash[:post]), {method: :get} %>
    </div>
</div>
</body>

