<body class="create-account">
<div class="new-post-box">
<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<p class="error"> <%= error %> </p>
<% end %>
<% end %>
    <h1> New Post </h1>

    <%= form_for @post do |f| %>
    <%= f.text_field :title, placeholder: "Title", class:"textfield2" %><br><br>
    <%= f.text_area :content, placeholder: "Write Your Post", class:"textarea1"%><br><br>
    <%= f.submit "Create Post", class:"submit-button" %>
    <% end %>

    <div class="return-btn">
    <%#if you were adding a post to a group page, you can return to that group%>
    <% if flash[:group] %>
    <button>
    <%= link_to "Return to Group", group_path(flash[:group]), {method: :get} %>
    </button>
    <% end %>
    </div>
</div>
</body>

