<h1><%= @post.title %></h1>
<h3><%= @post.content %> </h3>

<% @post.comments.each do |comment| %>
<p> <%= comment.content %> </p>
<p><%= User.find(comment.user_id).username %></p>
<% end %>

<%= button_to "Add Comment", new_comment_path, {method: :get} %>
<%= button_to "Go back to Group", group_path(flash[:group]), {method: :get} %>
<% if @post.user_id == @signed_in_user.id %>
<%= button_to "Delete post", post_path(@post), {method: :delete} %>
<%= button_to "Edit Post", edit_post_path(@post), {method: :get} %>
<% end %>