<body>

<div class="post-container">
  <div class="post_box">
    <p class="post-creation-date"><%= @post.created_at.strftime("%B %d, %Y") %><p>
    <h2 class="post-title"><%= @post.title %><p id="post-author"><%= link_to User.find_by(id: @post.user_id).username, user_path(@post.user_id) %></p>
    </h2>
      <div class="post-buttons">
        <% if @post.user_id == @signed_in_user.id %>
           <button>
            <i class="fas fa-edit"></i>
            <%= link_to "Edit", edit_post_path(@post), {method: :get} %>
           </button> 
            <button>
              <i class="far fa-trash-alt"></i>
                <%= link_to "Delete", post_path(@post), {method: :delete} %>
               <% end %>
              </button>
          </div>
    <p class="post-content"><%= @post.content %> </p>
    <div class="button-position"> 
      <button id="like-button">
       <i class="fas fa-heart"></i>
       <%= link_to "Like #{@post.likes}", like_path(@post), method: :patch %>
     </button>
      <button class="add-comment"> 
      <i class="fas fa-plus"></i>
      <%= link_to "Comment", new_comment_path, {method: :get} %>
      </button>
      </div>
  </div>

    <div class="comments">
    <h4 class="comment-label">Comments: </h4>  
       <% @post.comments.each do |comment| %>
        <p class="comment-user"><%= link_to "#{comment.user.username}", user_path(comment.user) %>:</p>
        <div class="ind-comment">
           <% @comment = comment %>
            <%= comment.content %>
        </div>
        <div class="view-replies">
        <% flash[:comment] = comment.id %>
        <%= link_to "Replies: #{comment.replies.count}", comment_path(comment), {method: :get} %>
        </div>
         
         <div class="button-position"> 
            <button id="reply-button">
            <i class="fas fa-reply"></i>
            <%= link_to "Reply", new_reply_path, {method: :get} %>
            </button> 
            <button id="like-button">
             <i class="fas fa-heart"></i>
              <%= link_to "Like #{@comment.likes}", like_comment_path(@comment), method: :patch %></button>
              </button>
          </div>

           <div class="comment-buttons">
               <% if @comment.user_id == @signed_in_user.id %>
               <button>
               <i class="far fa-trash-alt"></i>
                <%= link_to "Edit", edit_comment_path(@comment), {method: :get} %>
               </button> 
               <button> 
                <i class="fas fa-edit"></i>
                  <%= link_to "Delete", comment_path(@comment), {method: :delete} %>
                 </button>
                 <% end %>
                <% end %>
            </div>
        </div>
      </div>
</div>
 
</body>

