<!DOCTYPE html>
<html>
  <head>
    <title>FlatironFeeds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav>
 <p><%= link_to "My Profile", user_path(@signed_in_user.id) %></p>
 <p><%= link_to "Groups", groups_path %></p>
 <p><%= link_to "Log out", logout_path, method: :delete %></p>
 </nav>
 
<h1> Flatiron Feeds </h1>
  <body>
    <%= yield %>
  </body>
</html>
