<!DOCTYPE html>
<html>
  <head>
    <title>FlatironFeeds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
  <%#if the user is signed in, shows full nav bar%>
  <% if @signed_in_user %>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
    <i class="fa fa-bars" aria-hidden="true"></i>
    </label>
    <label class="logo"> <%= link_to image_tag("https://www.digital.nyc/sites/default/files/company/logo/b07d0f-FS_Circle_Slashes.png", height: '50px', width: '50px', id: "signed-in-logo"), '/sessions/delete', {method: :delete} %>
    </label>
    <ul>
      <li><%= link_to "My Profile", user_path(@signed_in_user.id) %></li>
      <li><%= link_to "Groups", groups_path %></li>
      <li><%= link_to "Log out", logout_path, method: :delete %></li>
    </ul>
  </nav>
  <% else %>
  <%#if user is not signed in, nav bar shows only link to return to homepage%>
  <%= link_to image_tag("https://www.digital.nyc/sites/default/files/company/logo/b07d0f-FS_Circle_Slashes.png", height: '50px', width: '50px', id: "homepage-logo"), '/sessions/delete', {method: :delete} %>
 <% end %>
<%= yield %>
  </body>
</html>
